<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:rim="http://www.blackberry.com/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-file-tests" version="4.3.2">
  <name>Cordova File Plugin Tests</name>
  <license>Apache 2.0</license>
  <js-module src="tests.js" name="tests"/>
  <platform name="android">
    <source-file src="src/android/TestContentProvider.java" target-dir="src/org/apache/cordova/file/test"/>
    <config-file target="AndroidManifest.xml" parent="/*/application">
      <provider android:name="org.apache.cordova.file.test.TestContentProvider" android:authorities="org.apache.cordova.file.testprovider" android:exported="false"/>
    </config-file>
    <asset src="www/fixtures/asset-test" target="fixtures/asset-test"/>
    <dependency id="cordova-plugin-contacts"/>
  </platform>
</plugin>
